{% extends "change_nav.html" %}
{% load static %}

{% block content %}

<div class="container mt-5 pt-5">
    <h2 class="mb-2 text-danger text-center">My Cart</h2>
    <div class="row">
        {% if cart_items %}
        {% for cart in cart_items %}
        <div class="col-md-4 mb-5">
            <div class="card h-100 shadow-sm mt-3">
              <a href="{% url 'product_view' cart.product.id %}">
                <img src="{{cart.product.image.url}}" class="card-img-top " alt="{{ cart.product.name }}" style="border: 1px solid red; height:300px; object-fit: cover;">
              </a>
                <div class="card-body">
                    <a href="{% url "product_view" cart.product.id %}">
                        <h5 class="card-title">{{ cart.product.name }}</h5>
                    </a>
                    <p class="card-text text-muted">₹{{ cart.product.price }}</p>
                    <p class="card-text">{{ cart.product.description|truncatechars:100 }}</p>
                  </div>
            </div>
            </div>
  </div>
</div>
         {% endfor %}
        </div>
        {% else %}
        <p class="text-danger fw-md text-center p-4">Your Cart is Empty.</p>
       {% endif %}
{% endblock %}
